<div class="modal-header bg-info">
  <h4 *ngIf="selectedObject" class="modal-title text-white"><span
    class="small">{{selectedObject.type}}</span><br>{{selectedObject.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true"><fa-icon [icon]="faWindowClose"></fa-icon></span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="selectedObject" class="card">
    <div class="card-body" style="height: 400px; overflow-y: auto">
      <app-literal-editor [object]="selectedObject" attribute="name"
                          (newValue)="onNewValue($event, 'name')"></app-literal-editor>
      <app-literal-editor [object]="selectedObject" attribute="description"
                          (newValue)="onNewValue($event, 'description')"></app-literal-editor>
      <div *ngIf="selectedObject.type==='Function'">
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="owner" [isEditable]="false"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="requirements" [isMultiple]="true"
                           [links]="getLinks('Requirement')"
                           (newValues)="onNewValues($event, 'requirements')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="input" [links]="getLinks('SystemInterface')"
                           (newValue)="onNewValue($event, 'input')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="output" [links]="getLinks('SystemInterface')"
                           (newValue)="onNewValue($event, 'output')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="assembly" [links]="getLinks('Function')"
                           (newValue)="onNewValue($event, 'assembly')"></app-link-editor>
        </p>
        <p>
          <app-link-editor [object]="selectedObject" attribute="parts" [isMultiple]="true"
                           [links]="getLinks('Function')" (newValues)="onNewValues($event, 'parts')"></app-link-editor>
        </p>
      </div>
      <div *ngIf="selectedObject.type==='Hamburger'">
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="functionalUnit" [links]="getLinks('SystemSlot')"
                           (newValue)="onNewValue($event, 'functionalUnit')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="technicalSolution"
                           [links]="getLinks('RealisationModule')"
                           (newValue)="onNewValue($event, 'technicalSolution')"></app-link-editor>
        </p>
        <p>
          <app-link-editor [object]="selectedObject" attribute="ports" [isMultiple]="true"
                           [links]="getLinks('PortRealisation')"
                           (newValues)="onNewValues($event, 'ports')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="assembly" [links]="getLinks('Hamburger')"
                           (newValue)="onNewValue($event, 'assembly')"></app-link-editor>
        </p>
        <p>
          <app-link-editor [object]="selectedObject" attribute="parts" [isMultiple]="true"
                           [links]="getLinks('Hamburger')" (newValues)="onNewValues($event, 'parts')"></app-link-editor>
        </p>
      </div>
      <div *ngIf="selectedObject.type==='Performance'">
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="owner" [isEditable]="false"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="value" [links]="getLinks('Value')"
                           (newValue)="onNewValue($event, 'value')"></app-link-editor>
        </p>
      </div>
      <div *ngIf="selectedObject.type==='PortRealisation'">
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="owner" [isEditable]="false"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="interface" [links]="getLinks('SystemInterface')"
                           (newValue)="onNewValue($event, 'interface')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="port" [links]="getLinks('RealisationPort')"
                           (newValue)="onNewValue($event, 'port')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="assembly" [links]="getLinks('PortRealisation')"
                           (newValue)="onNewValue($event, 'assembly')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="parts" [isMultiple]="true"
                           [links]="getLinks('PortRealisation')"
                           (newValues)="onNewValues($event, 'parts')"></app-link-editor>
        </p>
      </div>
      <div *ngIf="selectedObject.type==='RealisationModule'">
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="performances" [isMultiple]="true"
                           [links]="getLinks('Performance')"
                           (newValues)="onNewValues($event, 'performances')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="ports" [isMultiple]="true"
                           [links]="getLinks('RealisationPort')"
                           (newValues)="onNewValues($event, 'ports')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="hamburgers" [isMultiple]="true"
                           [isEditable]="false"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="assembly" [links]="getLinks('RealisationModule')"
                           (newValue)="onNewValue($event, 'assembly')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="parts" [isMultiple]="true"
                           [links]="getLinks('RealisationModule')"
                           (newValues)="onNewValues($event, 'parts')"></app-link-editor>
        </p>
      </div>
      <div *ngIf="selectedObject.type==='RealisationPort'">
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="owner" [isEditable]="false"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="portRealisations" [isMultiple]="true"
                           [isEditable]="false"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="assembly" [links]="getLinks('RealisationPort')"
                           (newValue)="onNewValue($event, 'assembly')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="parts" [isMultiple]="true"
                           [links]="getLinks('RealisationPort')"
                           (newValues)="onNewValues($event, 'parts')"></app-link-editor>
        </p>
      </div>
      <div *ngIf="selectedObject.type==='Requirement'">
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="owner" [isEditable]="false"></app-link-editor>
        </p>
        <p>
          <app-link-editor [object]="selectedObject" attribute="minValue" [links]="getLinks('Value')"
                           (newValue)="onNewValue($event, 'minValue')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="maxValue" [links]="getLinks('Value')"
                           (newValue)="onNewValue($event, 'maxValue')"></app-link-editor>
        </p>
      </div>
      <div *ngIf="selectedObject.type==='SystemInterface'">
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="systemSlot0" [links]="getLinks('SystemSlot')"
                           (newValue)="onNewValue($event, 'systemSlot0')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="systemSlot1" [links]="getLinks('SystemSlot')"
                           (newValue)="onNewValue($event, 'systemSlot1')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="requirements" [isMultiple]="true"
                           [links]="getLinks('Requirement')"
                           (newValues)="onNewValues($event, 'requirements')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="functionInputs" [isMultiple]="true"
                           [isEditable]="false"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="functionOutputs" [isMultiple]="true"
                           [isEditable]="false"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="portRealisations" [isMultiple]="true"
                           [isEditable]="false"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="assembly" [links]="getLinks('SystemInterface')"
                           (newValue)="onNewValue($event, 'assembly')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="parts" [isMultiple]="true"
                           [links]="getLinks('SystemInterface')"
                           (newValues)="onNewValues($event, 'parts')"></app-link-editor>
        </p>
      </div>
      <div *ngIf="selectedObject.type==='SystemSlot'">
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="functions" [isMultiple]="true"
                           [links]="getLinks('Function')"
                           (newValues)="onNewValues($event, 'functions')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="requirements" [isMultiple]="true"
                           [links]="getLinks('Requirement')"
                           (newValues)="onNewValues($event, 'requirements')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="interfaces" [isMultiple]="true"
                           [isEditable]="false"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="hamburgers" [isMultiple]="true"
                           [isEditable]="false"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="assembly" [links]="getLinks('SystemSlot')"
                           (newValue)="onNewValue($event, 'assembly')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="parts" [isMultiple]="true"
                           [links]="getLinks('SystemSlot')"
                           (newValues)="onNewValues($event, 'parts')"></app-link-editor>
        </p>
      </div>
      <div *ngIf="selectedObject.type==='Value'">
        <app-literal-editor [object]="selectedObject" attribute="unit"
                            (newValue)="onNewValue($event, 'unit')"></app-literal-editor>
        <app-literal-editor [object]="selectedObject" attribute="value" inputType="number"
                            (newValue)="onNewValue($event, 'value')"></app-literal-editor>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">

</div>
