<div class="modal-header bg-info">
  <h4 class="modal-title text-white">Object Details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="selectedObject" class="card">
    <div class="card-header">
      <h3 class="card-title">{{selectedObject.name}}</h3>
      <h5 class="card-subtitle">{{selectedObject.type}}</h5>
    </div>
    <div class="card-body">
      <app-literal-editor [object]="selectedObject" attribute="name"
                          (newValue)="onNewValue($event, 'name')"></app-literal-editor>
      <app-literal-editor [object]="selectedObject" attribute="description"
                          (newValue)="onNewValue($event, 'description')"></app-literal-editor>
      <div *ngIf="selectedObject.type==='Function'">
        <p *ngIf="getFunction(selectedObject).owner" class="card-text">
          owner: {{getFunction(selectedObject).owner.name}}
          ({{getFunction(selectedObject).owner.type}})</p>
        <p class="card-text">requirements: <span
          *ngFor="let requirement of getFunction(selectedObject).requirements">{{requirement.name}}</span>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="input" [links]="getLinks('SystemInterface')"
                           (newValue)="onNewValue($event, 'input')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="output" [links]="getLinks('SystemInterface')"
                           (newValue)="onNewValue($event, 'output')"></app-link-editor>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="assembly" [links]="getLinks('Function')"
                           (newValue)="onNewValue($event, 'assembly')"></app-link-editor>
        </p>
        <p class="card-text">parts: <span
          *ngFor="let part of getFunction(selectedObject).parts; let lastItem = last">{{part.name}}<span
          *ngIf="!lastItem">, </span></span>
        </p>
      </div>
      <div *ngIf="selectedObject.type==='Hamburger'">
        <p *ngIf="getHamburger(selectedObject).functionalUnit" class="card-text">
          functional unit: {{getHamburger(selectedObject).functionalUnit.name}}
          ({{getHamburger(selectedObject).functionalUnit.type}})</p>
        <p *ngIf="getHamburger(selectedObject).technicalSolution" class="card-text">
          technical solution: {{getHamburger(selectedObject).technicalSolution.name}}
          ({{getHamburger(selectedObject).technicalSolution.type}})</p>
      </div>
      <div *ngIf="selectedObject.type==='Performance'">
        <p *ngIf="getPerformance(selectedObject).owner" class="card-text">
          owner: {{getPerformance(selectedObject).owner.name}}
          ({{getPerformance(selectedObject).owner.type}})</p>
        <p *ngIf="getPerformance(selectedObject).value" class="card-text">
          value: {{getPerformance(selectedObject).value.name}}
          ({{getPerformance(selectedObject).value.type}})</p>
      </div>
      <div *ngIf="selectedObject.type==='RealisationModule'">
        <p class="card-text">performances: <span
          *ngFor="let performance of getRealisationModule(selectedObject).performances">{{performance.name}}</span>
        </p>
        <p class="card-text">hamburgers: <span
          *ngFor="let hamburger of getRealisationModule(selectedObject).hamburgers">{{hamburger.name}}</span>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="assembly" [links]="getLinks('RealisationModule')"
                           (newValue)="onNewValue($event, 'assembly')"></app-link-editor>
        </p>
        <p class="card-text">parts: <span
          *ngFor="let part of getRealisationModule(selectedObject).parts; let lastItem = last">{{part.name}}<span
          *ngIf="!lastItem">, </span></span>
        </p>
      </div>
      <div *ngIf="selectedObject.type==='Requirement'">
        <p class="card-text">owner: {{getRequirement(selectedObject).owner.name}}
          ({{getRequirement(selectedObject).owner.type}})</p>
        <p *ngIf="getRequirement(selectedObject).minValue" class="card-text">
          min value: {{getRequirement(selectedObject).minValue.name}}
          ({{getRequirement(selectedObject).minValue.type}})</p>
        <p *ngIf="getRequirement(selectedObject).maxValue" class="card-text">
          max value: {{getRequirement(selectedObject).maxValue.name}}
          ({{getRequirement(selectedObject).maxValue.type}})</p>
      </div>
      <div *ngIf="selectedObject.type==='SystemInterface'">
        <p *ngIf="getSystemInterface(selectedObject).systemSlot0" class="card-text">
          system slot 0: {{getSystemInterface(selectedObject).systemSlot0.name}}
          ({{getSystemInterface(selectedObject).systemSlot0.type}})
        </p>
        <p *ngIf="getSystemInterface(selectedObject).systemSlot1" class="card-text">
          system slot 1: {{getSystemInterface(selectedObject).systemSlot1.name}}
          ({{getSystemInterface(selectedObject).systemSlot1.type}})
        </p>
        <p *ngIf="getSystemInterface(selectedObject).functionInputs" class="card-text">
          function inputs: <span
          *ngFor="let f of getSystemInterface(selectedObject).functionInputs">{{f.name}}</span>
        </p>
        <p *ngIf="getSystemInterface(selectedObject).functionOutputs" class="card-text">function outputs: <span
          *ngFor="let f of getSystemInterface(selectedObject).functionOutputs">{{f.name}}</span>
        </p>
        <p class="card-text">
          <app-link-editor [object]="selectedObject" attribute="assembly" [links]="getLinks('SystemInterface')"
                           (newValue)="onNewValue($event, 'assembly')"></app-link-editor>
        </p>
        <p class="card-text">parts: <span
          *ngFor="let part of getSystemInterface(selectedObject).parts; let lastItem = last">{{part.name}}<span
          *ngIf="!lastItem">, </span></span>
        </p>
      </div>
      <div *ngIf="selectedObject.type==='SystemSlot'">
        <p class="card-text">functions: <span
          *ngFor="let function of getSystemSlot(selectedObject).functions">{{function.name}}</span>
        </p>
        <p class="card-text">interfaces: <span
          *ngFor="let interface of getSystemSlot(selectedObject).interfaces">{{interface.name}}</span>
        </p>
        <p class="card-text">hamburgers: <span
          *ngFor="let hamburger of getSystemSlot(selectedObject).hamburgers">{{hamburger.name}}</span>
        </p>
      </div>
      <div *ngIf="selectedObject.type==='Value'">
        <app-literal-editor [object]="selectedObject" attribute="unit"
                            (newValue)="onNewValue($event, 'unit')"></app-literal-editor>
        <app-literal-editor [object]="selectedObject" attribute="value" inputType="number"
                            (newValue)="onNewValue($event, 'value')"></app-literal-editor>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">

</div>
