<div *ngIf="modelId" class="container">
  <table class="table table-sm table-borderless">
    <thead>
    <tr>
      <th colspan="4">Create object</th>
    </tr>
    </thead>
    <tr>
      <td align="center">
        <button class="btn btn-primary" (click)="createObject()" ngbTooltip="Create object">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </td>
      <td><input class="form-control" [(ngModel)]="newObjectName" placeholder="enter name"></td>
      <td><input class="form-control" [(ngModel)]="newObjectDescription" placeholder="enter description"></td>
      <td><select class="form-control" [(ngModel)]="newObjectType">
        <option *ngFor="let type of getTypes()" [value]="type"
                [selected]="type === newObjectType">{{type}}</option>
      </select></td>
    </tr>
  </table>
  <hr>
  <div *ngIf="objects" style="overflow-y: auto; height: 320px">
    <table class="table table-hover table-sm table-borderless">
      <thead>
      <tr>
        <th colspan="4">Created objects</th>
      </tr>
      <tr>
        <th>canvas</th>
        <th>edit/delete</th>
        <th>name</th>
        <th>description</th>
        <th>type</th>
      </tr>
      </thead>
      <tbody>
      <tr class="select" (click)="toggleCanvas(object)" (dblclick)="openObjectDetails(object)"
          *ngFor="let object of objects">
        <td align="center"><input type="checkbox" [checked]="inCanvas(object)"></td>
        <td>
          <button class="btn btn-link btn-sm" (click)="openObjectDetails(object)" ngbTooltip="Edit object">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button class="btn btn-link btn-sm" (click)="onDeleteClick(object)" ngbTooltip="Delete object">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
        <td>{{object.name}}</td>
        <td>
          <span class="description">{{object.description}}</span>
        </td>
        <td>
          <span class="type">{{object.type}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--  </div>-->
<!--</div>-->
