<div class="container">
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="https://www.infrabim.nl">YACSER client</a>
  </nav>
  <ngb-accordion>
    <ngb-panel>
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn btn-link"><h5>Models</h5></button>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-model-list (modelId)="getModelId($event)" [modelMap]="modelMap"></app-model-list>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn btn-link">
          <h5>Objects<span *ngIf="modelId"> of {{modelId}}</span></h5>
        </button>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-object-list [modelId]="modelId" [canvasObjectIds]="canvasObjectIds"></app-object-list>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelHeader>
        <button ngbPanelToggle class="btn btn-link"><h5>Canvas</h5></button>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-canvas [modelId]="modelId" [canvasObjectIds]="canvasObjectIds"></app-canvas>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<router-outlet></router-outlet>
