<div class="container">
  <p>file path: <input type="text" placeholder="Enter model file path" [(ngModel)]="filePath">
    <button class="btn" (click)="onLoadClick(filePath)">Load</button>
  </p>
  <div class="card" *ngFor="let model of models | async">
    <div class="card-header">
      <h5 class="card-title">{{model.name}}</h5>
      <div class="card-body">
        <p class="card-text">{{model.description}}</p>
      </div>
    </div>
<!--    <button (click)="onCreateModel()">Create model</button>-->
<!--    <p *ngIf="newModel">{{newModel | async}}</p>-->
  </div>
</div>
