<div class="container">
  <table class="table table-sm table-borderless table-hover">
    <thead>
    <tr>
      <th>download</th>
      <th>file</th>
      <th>name</th>
      <th>description</th>
      <th>upload</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of modelFiles">
      <td>
        <button class="btn btn-link" (click)="onLoadClick(file)"><fa-icon [icon]="faFileDownload"></fa-icon></button>
      </td>
      <td>{{file}}</td>
      <td><span>{{modelMap.get(file) ? modelMap.get(file).name : ''}}</span></td>
      <td><span>{{modelMap.get(file) ? modelMap.get(file).description : ''}}</span></td>
      <td>
        <button class="btn btn-link" (click)="onSaveClick(file)" [disabled]="!modelMap.get(file)"><fa-icon [icon]="faFileUpload"></fa-icon></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
